In [1]:
import pandas as pd
import numpy as np

In [42]:
df_8 = pd.read_excel("Dataset_8.xlsx")
df_employ = pd.read_excel("Cleaned_Projections.xlsx")
df_wages = pd.read_excel("Cleaned_Wage.xlsx")
df_cluster = pd.read_excel("Dataset 4 - 2017-2022 CTE concentrators.xlsx")
df_clusternames = pd.read_excel("cluster names.xlsx")
df_state = pd.read_excel("Dataset 5 - 20-21 CTE Demographics .xlsx")
df_nc = df_state[df_state['State']=='North Carolina']

df_postsecondary = df_nc[df_nc['Education Type'] == 'Postsecondary']
df_secondary = df_nc[df_nc['Education Type'] == 'Secondary']

In [40]:
df_nc.head()
nc_total = 54075

In [43]:
df_secondary.head()

,State,Year,Education Type,Student Population,Total Number Of Students,Agri. Food & Nat. Res.,Arch. & Const.,"Arts, AV, Tech & Comm.",Business Mgmt. & Admin.,Education & Training,...,Health Science,Hospitality & Tourism,Human Services,Information Technology,"Law,. Public Safety, Cor. & Sec.",Manufacturing,Marketing,STEM,Transp. Distr. & Logis.,Other (specify)
616,North Carolina,2020-2021,Secondary,Grand Total,54075.0,6356.0,5173.0,4986.0,1466.0,128.0,...,10012.0,4395.0,9076.0,1780.0,1976.0,1712.0,1136.0,3998.0,1435.0,NaN
617,North Carolina,2020-2021,Secondary,Male,28090.0,3599.0,3617.0,2930.0,734.0,13.0,...,1663.0,2822.0,3149.0,1385.0,1115.0,1584.0,625.0,3251.0,1340.0,NaN
618,North Carolina,2020-2021,Secondary,Female,25985.0,2757.0,1556.0,2056.0,732.0,115.0,...,8349.0,1573.0,5927.0,395.0,861.0,128.0,511.0,747.0,95.0,NaN
619,North Carolina,2020-2021,Secondary,American Indian or Alaskan Native,684.0,137.0,35.0,36.0,30.0,0.0,...,163.0,22.0,152.0,9.0,29.0,13.0,19.0,21.0,17.0,NaN
620,North Carolina,2020-2021,Secondary,Asian,1809.0,48.0,100.0,225.0,75.0,0.0,...,414.0,110.0,114.0,370.0,24.0,21.0,32.0,217.0,11.0,NaN

In [44]:
df_postsecondary.head()

,State,Year,Education Type,Student Population,Total Number Of Students,Agri. Food & Nat. Res.,Arch. & Const.,"Arts, AV, Tech & Comm.",Business Mgmt. & Admin.,Education & Training,...,Health Science,Hospitality & Tourism,Human Services,Information Technology,"Law,. Public Safety, Cor. & Sec.",Manufacturing,Marketing,STEM,Transp. Distr. & Logis.,Other (specify)
1782,North Carolina,2020-2021,Postsecondary,Grand Total,62641.0,1119.0,3421.0,1387.0,10496.0,4319.0,...,14450.0,1126.0,3195.0,6447.0,4992.0,3681.0,6.0,2401.0,3258.0,283.0
1783,North Carolina,2020-2021,Postsecondary,Male,25094.0,630.0,2922.0,645.0,2344.0,122.0,...,1582.0,446.0,421.0,4781.0,2281.0,3399.0,4.0,2025.0,2920.0,83.0
1784,North Carolina,2020-2021,Postsecondary,Female,37547.0,489.0,499.0,742.0,8152.0,4197.0,...,12868.0,680.0,2774.0,1666.0,2711.0,282.0,2.0,376.0,338.0,200.0
1785,North Carolina,2020-2021,Postsecondary,American Indian or Alaskan Native,1090.0,9.0,85.0,6.0,181.0,87.0,...,311.0,23.0,44.0,68.0,86.0,95.0,0.0,32.0,30.0,1.0
1786,North Carolina,2020-2021,Postsecondary,Asian,1396.0,3.0,72.0,38.0,167.0,63.0,...,308.0,28.0,45.0,310.0,36.0,43.0,0.0,81.0,94.0,13.0

In [45]:
# # Divide only numeric columns by 10
# df_numeric = df.select_dtypes(include=['number'])
# df[df_numeric.columns] = df_numeric / 10
df_secondary.to_excel('ncSecondary.xlsx', index=False, sheet_name='Sheet1')
df_postsecondary.to_excel('ncPostSecondary.xlsx', index=False, sheet_name='Sheet1')

In [23]:
df_8.head()

,Career Cluster,Level,Credential Name,Credential Issuer
0,"Agriculture, Food & Natural Resources",Essential,Canine Care and Training Program (CCTP),Continental Kennel Club
1,"Agriculture, Food & Natural Resources",Essential,Certified Horsemanship,Certified Horsemanship Association
2,"Agriculture, Food & Natural Resources",Essential,Equine Management and Evaluation Certification,Elanco
3,"Agriculture, Food & Natural Resources",Essential,Small Engine Repair,Briggs and Stratton- lawn mowers
4,"Agriculture, Food & Natural Resources",Essential,NC Pesticide Applicator,NCDA&CS

In [5]:
df_employ.head()

,Area Name,Industry Code,Industry Group,Industry Title,2021,2030,Net Growth,Annualized,Total,Average Weekly
0,North Carolina,113000.0,Sub-Sector,Forestry and Logging,NaN,NaN,NaN,-0.001,NaN,NaN
1,North Carolina,114000.0,Sub-Sector,"Fishing, Hunting and Trapping",NaN,NaN,NaN,0.006,NaN,NaN
2,North Carolina,211000.0,Sub-Sector,Oil and Gas Extraction,NaN,NaN,NaN,0.000,NaN,NaN
3,North Carolina,213000.0,Sub-Sector,Support Activities for Mining,NaN,NaN,NaN,0.024,NaN,NaN
4,North Carolina,486000.0,Sub-Sector,Pipeline Transportation,NaN,NaN,NaN,0.006,NaN,NaN

In [6]:
df_wages.head()

,Area Name,Occupational Code,Occupation,Naics Code,Industry,Year,Employment,Employment Relative Standard Error,Response Rate(%),Hourly wage; mean,...,Hourly wage; 10th percentile,Hourly wage; 25th percentile,Hourly wage; median,Hourly wage; 75th percentile,Hourly wage; 90th percentile,Annual wage; 10th percentile,Annual wage; 25th percentile,Annual wage; median,Annual wage; 75th percentile,Annual wage; 90th percentile
0,North Carolina,37-2019,"Building Cleaning Workers, All Other",0,"Cross-industry, private, federal, state, and l...",2022,440.0,29.6,1,18.97,...,11.42,14.36,18.05,25.01,27.07,23750.0,29870.0,37540.0,52010.0,56310.0
1,North Carolina,41-9021,Real Estate Brokers,0,"Cross-industry, private, federal, state, and l...",2022,2980.0,22.3,2,42.55,...,19.94,25.75,36.93,49.83,73.73,41460.0,53560.0,76810.0,103650.0,153360.0
2,North Carolina,47-2231,Solar Photovoltaic Installers,0,"Cross-industry, private, federal, state, and l...",2022,880.0,17.5,2,20.84,...,14.86,15.71,17.45,22.97,30.89,30900.0,32670.0,36300.0,47780.0,64240.0
3,North Carolina,27-2011,Actors,0,"Cross-industry, private, federal, state, and l...",2022,290.0,47.7,2,31.39,...,12.23,24.46,25.38,26.81,59.52,NaN,NaN,NaN,NaN,NaN
4,North Carolina,47-2022,Stonemasons,0,"Cross-industry, private, federal, state, and l...",2022,190.0,33.7,2,21.40,...,15.83,17.18,18.84,23.18,35.98,32930.0,35740.0,39180.0,48220.0,74840.0

In [9]:
df_cluster.head()

     year agency_code career_cluster  num_concentrators
0  2017.0      010303           AGNR                1.0
1  2017.0      010303           ARCH                1.0
2  2017.0      010303            BMA                1.0
3  2017.0      010303           INFO                1.0
4  2017.0      010303            LAW                1.0

In [10]:
df_clusternames.head()

   code                             description
0  AGNR   Agricultural & Natural Resources Tech
1  ARCH           Architecture and Construction
2  AAVC        Arts, Audio/Video Techn and Comm
3   BMA  Business Management and Administration
4    CD                      Career Development

In [26]:
# mapping to make the columns correct

name_mapping = {
    "Agriculture, Food & Natural Resources": "Agricultural & Natural Resources Tech",
    "Architecture & Construction": "Architecture and Construction",
    "Arts, A/V Technology & Communications": "Arts, Audio/Video Techn and Comm",
    "Business, Management & Administration": "Business Management and Administration",
    "Health Sciences": "Health Science",
    "Hospitality & Tourism": "Hospitality and Tourism",
    "Human Services": "Human Services",
    "Information Technology": "Information Technology",
    "Law, Public, Safety, Corrections & Security": "Law, Public Safety, Corrections and Security",
    "Transportation, Distribution, & Logistics": "Transportation, Distribution & Logistics",
}

# Apply mapping to the 'description' column
df_8['Career Cluster'] = df_8['Career Cluster'].replace(name_mapping)

In [28]:
df_8.head(20)

,Career Cluster,Level,Credential Name,Credential Issuer
0,Agricultural & Natural Resources Tech,Essential,Canine Care and Training Program (CCTP),Continental Kennel Club
1,Agricultural & Natural Resources Tech,Essential,Certified Horsemanship,Certified Horsemanship Association
2,Agricultural & Natural Resources Tech,Essential,Equine Management and Evaluation Certification,Elanco
3,Agricultural & Natural Resources Tech,Essential,Small Engine Repair,Briggs and Stratton- lawn mowers
4,Agricultural & Natural Resources Tech,Essential,NC Pesticide Applicator,NCDA&CS
5,Agricultural & Natural Resources Tech,Essential,"Pesticide Applicator, Ornamental & Turf Pest C...",North Carolina Department of Agriculture
6,Agricultural & Natural Resources Tech,Career,Certified Veterinary Assistant,Texas Veterinary Medical Association
7,Agricultural & Natural Resources Tech,Career,"Wastewater Operator Certification Level I, II,...",NC Department of Environmental Quality
8,Architecture and Construction,Essential,Blacksmith (Steel Worker),ABANA - Artist-Blacksmith's Assocation of Nort...
9,Architecture and Construction,Essential,AWS SENSE - Thermal Cutting Process,American Welding Society (AWS)
10,Architecture and Construction,Essential,AWS SENSE- Flux Cored Arc Welding (FCAW),American Welding Society (AWS)
11,Architecture and Construction,Essential,AWS SENSE- Gas Metal Arc Welding (GMAW),American Welding Society (AWS)
12,Architecture and Construction,Essential,AWS SENSE- Shielded Metal Arc Welding (SMAW),American Welding Society (AWS)
13,Architecture and Construction,Essential,Section 608 Technician Certification,State Board of Refrigeration Contractors
14,Architecture and Construction,Essential,ESCO Employment Ready: Duct and Envelope Testing,ESCO Group
15,Architecture and Construction,Essential,ESCO Employment Ready: Air Conditioning,ESCO Group
16,Architecture and Construction,Essential,ESCO Employment Ready: Heat Pump,ESCO Group
17,Architecture and Construction,Essential,ESCO Employment Ready: HVAC Electrical,ESCO Group
18,Architecture and Construction,Essential,ESCO Employment Ready: Basic Refrigeration and...,ESCO Group
19,Architecture and Construction,Essential,Universal R-410a Certification,Environmental Protection Agency (EPA)

In [31]:
# Merging df_8 with df_clusterNames
df_priority = pd.merge(df_8, df_clusternames, left_on='Career Cluster', right_on='description', how='outer')
df_priority.head(20)

,Career Cluster,Level,Credential Name,Credential Issuer,code,description
0,Agricultural & Natural Resources Tech,Essential,Canine Care and Training Program (CCTP),Continental Kennel Club,AGNR,Agricultural & Natural Resources Tech
1,Agricultural & Natural Resources Tech,Essential,Certified Horsemanship,Certified Horsemanship Association,AGNR,Agricultural & Natural Resources Tech
2,Agricultural & Natural Resources Tech,Essential,Equine Management and Evaluation Certification,Elanco,AGNR,Agricultural & Natural Resources Tech
3,Agricultural & Natural Resources Tech,Essential,Small Engine Repair,Briggs and Stratton- lawn mowers,AGNR,Agricultural & Natural Resources Tech
4,Agricultural & Natural Resources Tech,Essential,NC Pesticide Applicator,NCDA&CS,AGNR,Agricultural & Natural Resources Tech
5,Agricultural & Natural Resources Tech,Essential,"Pesticide Applicator, Ornamental & Turf Pest C...",North Carolina Department of Agriculture,AGNR,Agricultural & Natural Resources Tech
6,Agricultural & Natural Resources Tech,Career,Certified Veterinary Assistant,Texas Veterinary Medical Association,AGNR,Agricultural & Natural Resources Tech
7,Agricultural & Natural Resources Tech,Career,"Wastewater Operator Certification Level I, II,...",NC Department of Environmental Quality,AGNR,Agricultural & Natural Resources Tech
8,Agricultural & Natural Resources Tech,Foundation,The American Meat Science Association (AMSA) F...,The American Meat Science Association,AGNR,Agricultural & Natural Resources Tech
9,Agricultural & Natural Resources Tech,Foundation,The Elanco Fundamentals of Animal Science Cert...,Elanco,AGNR,Agricultural & Natural Resources Tech
10,Agricultural & Natural Resources Tech,Foundation,The Elanco Veterinary Medical Applications Cer...,Elanco,AGNR,Agricultural & Natural Resources Tech
11,Architecture and Construction,Essential,Blacksmith (Steel Worker),ABANA - Artist-Blacksmith's Assocation of Nort...,ARCH,Architecture and Construction
12,Architecture and Construction,Essential,AWS SENSE - Thermal Cutting Process,American Welding Society (AWS),ARCH,Architecture and Construction
13,Architecture and Construction,Essential,AWS SENSE- Flux Cored Arc Welding (FCAW),American Welding Society (AWS),ARCH,Architecture and Construction
14,Architecture and Construction,Essential,AWS SENSE- Gas Metal Arc Welding (GMAW),American Welding Society (AWS),ARCH,Architecture and Construction
15,Architecture and Construction,Essential,AWS SENSE- Shielded Metal Arc Welding (SMAW),American Welding Society (AWS),ARCH,Architecture and Construction
16,Architecture and Construction,Essential,Section 608 Technician Certification,State Board of Refrigeration Contractors,ARCH,Architecture and Construction
17,Architecture and Construction,Essential,ESCO Employment Ready: Duct and Envelope Testing,ESCO Group,ARCH,Architecture and Construction
18,Architecture and Construction,Essential,ESCO Employment Ready: Air Conditioning,ESCO Group,ARCH,Architecture and Construction
19,Architecture and Construction,Essential,ESCO Employment Ready: Heat Pump,ESCO Group,ARCH,Architecture and Construction